#editForm{
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px #999;
}

#addForm{
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px #999;
}

#tabelaProjetos{
    margin-top: 10px;
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px #999;
}
h1{
    text-align: justify;
}
textarea, input {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

td, tr, th, h1, h2, button, h3{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    }

body {
    position: absolute;
	top: 20%;
    left: 50%;
    
    margin: -70px 0 0 -170px;
}

.botaosalvar{
    background-color: #abc8e2;
    line-height: 1.5;
    border-radius: 5px;
    

}
button{
    background-color: #abc8e2;
    line-height: 1.5;
    border-radius: 5px;
}
body{
   
background-image:radial-gradient(circle, rgba(24,49,82,1) 1%, rgba(55,93,129,1) 77%);
background-size: auto 2px;
}

label, th, tr, h3{
    color:#555555;
}

h1{
    color:#e1e6fa;
}
